@model Scheduler.ViewModels.DoctorsAndWorkHours

@{
    ViewData["Title"] = "Home Page";
}

<ul class="doctors">

    @foreach (var doctor in Model.DoctorsViewModel.Doctors)
    {
        <li>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#@doctor.Id">
                                <div class="image">
                                    <img src="~/images/blank.png" />
                                </div>
                                <div class="details">
                                    <div class="Name">@doctor.Name @doctor.Surname</div>
                                    <div class="Scope">@doctor.Scope</div>
                                </div>
                            </a>
                        </h4>
                    </div>
                    <div id="@doctor.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div>Adresas: @doctor.Address - @doctor.Office</div>
                            <div>Telefono numeris: @doctor.PhoneNumber</div>

                            <br />

                            <div class="form-group">
                                <label>Select day:</label>
                                <select name="selectDay" id="selectDay-@doctor.Id" class="form-control" onchange="myFunction(@doctor.Id)">

                                    <option value="">-- select day --</option>

                                    @for (int j = 0; j < DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month) - DateTime.Now.Day; j++)
                                    {
                                        <option value="@DateTime.Now.AddDays(j).DayOfWeek.ToString("d")">
                                            @DateTime.Now.AddDays(j).DayOfWeek ( @DateTime.Now.AddDays(j).ToString("MM/dd") )
                                        </option>
                                    }
                                </select>
                            </div>

                            <div id="Monday-@doctor.Id" class="form-group">
                                <label>Select time:</label>
                                <select id="selectTime-@doctor.Id" class="form-control">
                                    <option value="">-- select one --</option>
                                </select>
                            </div>


                            <button class="btn btn-default">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }

</ul>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function myFunction(id) {
        $.getJSON("/Home/GetJson", null, function (data) {

            console.log(data);

            for (var obj in data) {
                console.log(data[obj].text);
                $("#selectTime-" + id).append("<option value='2'>"+data[obj].text+"</option>");
            }
        });
    }
</script>



