@model Scheduler.ViewModels.MyAppointment

@{
    ViewData["title"] = "My appointments";
}

<h1>My appointments</h1>

<table class="table table-bordered table-striped">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Doctor</th>
        <th>Cancel</th>
    </tr>
    @foreach (var appointment in Model.Appointment)
    {
        <tr>
            <td>@appointment.AppointmentDate.ToString("yyyy-MM-dd")</td>
            <td>@appointment.AppointmentDate.ToString("HH:mm")</td>
            <td>@Model.Doctor.FirstOrDefault(x => x.Id == appointment.DocotorId).Name @Model.Doctor.FirstOrDefault(x => x.Id == appointment.DocotorId).Surname</td>
            <td>
                @*@using (Html.BeginForm("MyAppointments", "Home", FormMethod.Post, new { id = appointment.DocotorId}))
                {
                <input type="hidden" asp-for="@appointment.DocotorId" />
                <input type="hidden" asp-for="@appointment.AppointmentDate"/>
                <input type="submit" name="name" value="Cancel" class="btn btn-sm btn-danger"/>

                }*@

                <button class="btn btn-sm btn-danger" onclick="deleteAppointment('@appointment.DocotorId', '@appointment.AppointmentDate')">Cancel</button>
            </td>

        </tr>  
    }
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function deleteAppointment(id, date) {
        $.post("/api/Appointments/DeleteAppointment", { doctorId: id, date: date })
            .done(function () { 
                alert("deleted");
                location.reload();
            }
            );
    }
</script>
